---
import "katex/dist/katex.min.css";

import { format } from "date-fns";

import MarkdownPostLayout from "../../layouts/MarkdownPostLayout.astro";
import { type CollectionEntry } from "astro:content";

import { getBlogEntries } from "../../libs/blog";
import siteMeta from "../../siteMeta";
import Tag from "../../components/Tag.astro";
import CalendarDays from "../../components/icons/CalendarDays.astro";

interface Props {
  slug: string;
  entry: CollectionEntry<"blog">;
}

export async function getStaticPaths() {
  return getBlogEntries();
}

const { slug, entry } = Astro.props;
const { Content } = await entry.render();
---

<MarkdownPostLayout title={`${entry.data.title} | ${siteMeta.siteName}`}>
  <div class="mb-6">
    <h1 class="flex py-0 my-1 justify-center">
      <a class="no-underline" href={`/blog/${slug}`}> {entry.data.title}</a>
    </h1>
    <div class="flex justify-center items-center my-2">
      <CalendarDays />
      <p class="my-0 p-0 ml-1 indent-0">
        {format(entry.data.created_at, "yyyy/MM/dd")}
      </p>
    </div>
    <ul class="flex flex-wrap list-none justify-center">
      {
        entry.data.tags.map((tag) => (
          <li>
            <Tag name={tag} />
          </li>
        ))
      }
    </ul>
  </div>
  <div class="markdown">
    <Content />
  </div>
</MarkdownPostLayout>
